/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: white;
  --global-color-front: black;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-html-backgroundColor);
  color: var(--global-html-color)
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Robot
*/

.c-loader{
  max-width: 300px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-loader__circle{
  stroke: blue;
  fill: transparent;
  stroke-width: 5px;
  stroke-linecap: 10px;
  stroke-dasharray: 20px 100px;
  stroke-dashoffset: 0px;
  transform-origin: center;
  animation: rotateCircle calc(2s) linear infinite, strokeCircle 0.75s infinite;;
}

@keyframes rotateCircle {
  100% {
  transform: rotate(360deg);
  }
}

@keyframes strokeCircle {
  100% {
    stroke-dasharray: 60px 100px;

  }
}
.c-robot {
  max-width: 300px;
  fill: var(--global-color-front);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-robot__shadow {
  fill: black;
  opacity: .4;
}


/*
    Component: Controls
*/
.c-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  gap: 2rem;
}
.c-controls {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.c-controls__button{
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  padding-bottom: .5rem;
  border-radius: 1rem
  
}
.c-controls__list {
  display: flex;
  gap: 2rem;
}
.c-controls__radio:checked+.c-controls__button {
  background-color: rgb(103, 167, 191);
}

.c-controls__button:hover {
  background-color: rgb(103, 167, 191);
}

.c-controls__button:focus {
  border: solid 1.5px rgb(103, 167, 191);
}
.c-play-icon--play {
  display: none;
}

.is-paused .c-play-icon--pause {
  display: none;
}

.is-paused .c-play-icon--play {
  display: block;
}

.c-controls__radio {
  display: none;
}


@keyframes shadowPulse {
  100% {
    transform: scale(0.75);
    
  }
}

@keyframes robotHover {
  0% {
    transform: translateY(2.5);
    
  }
  100%{
    transform: translateY(-2.5%);

  }
}

.c-robot--css-anim{
  --c-robot-animation-duration: 0.75s;
  --c-robot-animation-timing-function: ease-in-out;
  --c-robot-animation-iteration-count: infinite;
  --c-robot-animation-direction: alternate;
}

.c-robot--css-anim #Shadow {
  transform-origin: 50% 100%;
  animation-name: shadowPulse;
  animation-duration: var(--c-robot-animation-duration);
  animation-timing-function: var(--c-robot-animation-timing-function);
  animation-iteration-count: var(--c-robot-animation-iteration-count);
  animation-direction: var(--c-robot-animation-direction);
  
}

.c-robot--css-anim #Robot {
  transform-origin: 50% 100%;
  animation-name: robotHover;
  animation-duration: var(--c-robot-animation-duration);
  animation-timing-function: var(--c-robot-animation-timing-function);
  animation-iteration-count: var(--c-robot-animation-iteration-count);
  animation-direction: var(--c-robot-animation-direction);
}

#svg {
  position: relative;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  display: block;
  background: transparent;
}

.path {
  stroke: black;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
